name: MAIN CI


on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build: # Run CI on ubuntu Latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          # Uses Flutter version specified in [pubspec.yaml]
          flutter-version-file: pubspec.yaml

      # Get flutter dependencies.
      - run: flutter pub get

      # Check for any formatting issues in the code.
      - run: dart format --set-exit-if-changed .

      # Statically analyze the Dart code for any errors.
      - run: flutter analyze .

      # Run widget tests for our flutter project.
      - run: flutter test
